body {
  background-color: #eee;
}

.iframe {
  text-align: center;
}

form {
  position: relative;
  width: 800px;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
  text-align: left;
  box-sizing: border-box;
  background: #fff url(background.jpg);
}

textarea {
  margin-top: 1em;
  resize: none;
  max-height: 200px;
}

input,
textarea {
  outline: none;
  border: 1px, solid rgb(250, 245, 249);
  line-height: 40px;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
  border: 1px solid rgba(255, 0, 0);
}

form div {
  margin-top: 1em;
}

.titulo {
  margin: 0 0 auto 0;
  font-size: 35px;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: darkgray;
  border-radius: 15px;
  color: white;
}

.wrapper {
  margin: 0 0 auto 0;
  /*top right bottom left side*/
  width: auto;
  /*Tamanho da área de conteúdo*/
  background-color: darkgray;
  text-align: center;
}

.texto {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 70px 70px 20px;
  text-indent: 0px;
}

h2 {
  text-shadow: 0.1em 0.1em 0.0em darkgray;
}

p {
  text-indent: 40px;
  text-align: justify;
  font-size: 15px;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

ul {
  margin-left: 60px;
}

ul li {
  list-style: none;
  /*para suprimir os bullets da lista*/
  display: inline-block;
  /*apresenta as opções da lista na mesma linha*/
  float: left;
  /*define a altura da linha com 100px, como está definido o NAV BAR*/
}

ul li a {
  text-decoration: none;
  /*para suprimir o underline do link*/
  font-size: 16px;
  /*define os itens do menu com fonte tamanho 14px*/
  font-family: Arial, Helvetica, sans-serif;
  /*define a fonte que será utilizada o menu*/
  color: #1e1e1e;
  /*define a cor da fonte para as palavras do menu*/
  padding: 0 20px;
  /*0 px top e botton e 20px (centralizado na barra de
     navegação e 20px a direita e à esquerda na barra de navegação)*/
  display: block;
  /*habilita o link em na vertical do bloco*/
  letter-spacing: 2px;
  /*Escopo entre as letras*/
  font-weight: 400;
  /*Intensidade da fonte*/
}

ul li a:hover {
  color: #f11010;
  /*muda a cor a depender da posição do mouse*/
}

/*sinopse*/
img {
  width: 360px;
  height: 470px;
}

.shadow-imagem {

}

/*pagina principal-Terror-Capas*/
.imagem-container img {
  float: left;
  font-family: Arial, sans-serif;
  width: 280px;
  height: 320px;
  margin: 10px;
  padding: 0;
  background-color: #f4f4f4;
  border-radius: 20px;
}

footer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkgrey;
  box-sizing: border-box;
  border-radius: 15px;
}

.noto-sans {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/*estilizando a tabela*/
.style-table, th, td {
  background-color: #eee; /*cor interna*/
  border: 4px solid rgb(160 160 160); /*cor e espessura da borda*/
  border-collapse: collapse; /*define a separação entre as bordar*/
  text-align: center; /*centraliza o texto*/
}

th {
  background-color: rgb(160 160 160);; /*cor coluna*/
  width: 200px; /*largura da coluna*/
  height: 40px /*altura da coluna*/;
}

/*Seletores de atributos - LINKS*/
/*links com final ".html"
a[href$=".html"] {
  background-color: red;
}
*/

/*links com "contato" em qualquer lugar da URL,
independentemente da capitalização*
a[href*="contato" i]{
  background-color: cyan;
}
/

/*links com "bio" em qualquer lugar da URL
a[href*="bio"]{
  background-color: silver;
}
*/

/*links internos, começando com "#"
a[href^="#"] {
  background-color: gold;
}
*/

/*Seletores de atributos - Linguagens*/

/*Todas divs com um atributo `lang` em negrito.*/
div[lang] {
  font-weight: bold;
}

/*todas divs com US English e azul (blue).*/
div[lang~="en-us"] {
  color: blue;
}

/*Todas divs onde Portuguese esta em verde (green)*/
div[lang="pt"] {
  color: green;
}

/*Todas divs onde Chinese esta em vermelho (red), Simplicado para (zh-CH) ou tradicional (zh-TW)*/
div[lang|="zh"] {
  color: red;
}

/*todas divs com traditional chinese `data-lang` que é purple.*/
/*Nota: Você também poderia usar atributos separados por hífen com aspas duplas*/
div[data-lang="zh-TW"] {
  color: purple;
}

/* Aula 21 Forms-PT.2*/
/*Complemento do style.css para o FORMS*/

#email {
  width: 100%;
}

#password {
  width: 50%;
}

input[type="password"] {
  background-color: #f11010;
  color: antiquewhite;
}

#tipo {
  width: 50%;
  padding: 10px;
  width: 120px;
}

input[type="email"] {
  background-color: rbb(202, 201, 201);
  color: black;
}

fieldset {
  position: relative;
  margin-top: 1em;
  background-color: aquamarine;
}

legend {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: #fff;
}

button {
  margin-top: 1em;
}

