/*19 | Trabalhando com vídeos no seu projeto HTML e CSS.*/
* {
  margin: 0;
  padding: 0;
}

.section {
  position: relative;
  width: 100%;
  height: 480px; /*view port height*/
  display: flex;
  align-items: center; /*itens centralizados*/
  justify-content: center; /*conteúdo centralizado*/
  overflow: hidden; /*elimina scrolls bars*/
}

.section h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  padding: 40px;
  margin: 15px;
  z-index: 1;
  opacity: 0.5;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
